@page "/chathub"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorServerApp_Chess.Data

@using DataAccessLibrary.Models;
@using BlazorServerApp_Chess.Services;

@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject UserService UserService

@implements IDisposable


<div>
    <label>
        <a>@currentUserName</a>
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="@(() => UserService.Send(currentUserName, messageInput))" disabled="@(!UserService.IsConnected)">Send</button>

<p>@usersConnectedCount users online!</p>
<hr>

<p>notifies: @notifyCount</p>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private List<string> messages = new List<string>();
    private string messageInput;
    private string currentUserName;
    private List<UserModel> users;
    private int usersConnectedCount = 0;
    public int notifyCount = 0;
    private bool firstRender = true;


    protected async override Task OnInitializedAsync()
    {

        //hubConnection = new HubConnectionBuilder()
        //    .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
        //    .Build();
        //
        //hubConnection.On<string, string, string>("ReceiveMessage", (user, message, time) =>
        //{
        //    var encodedMsg = $"{time} >> {user} > {message}";
        //    messages.Add(encodedMsg);
        //    StateHasChanged();
        //});
        //
        //await hubConnection.StartAsync();
        //
        //currentUserName = await sessionStorage.GetItemAsync<string>("userName");
        //
        //await hubConnection.SendAsync("SendMessageToOthers", currentUserName);



        UserService.Notify += OnNotify;


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUserName = await sessionStorage.GetItemAsync<string>("userName");
            UserService.SendGreetings(currentUserName);

            var encodedMsg = $"{UserService.User} connected to server!";
            messages.Add(encodedMsg);

            await InvokeAsync(() =>
            {
                StateHasChanged();
            });

        }
    }

    public void OnNotify()
    {
        notifyCount++;

        //Checks if user actually exists, else don't do anything
        if (!string.IsNullOrEmpty(UserService.User))
        {
            var encodedMsg = $"{UserService.Time} : {UserService.User} > {UserService.Message}";
            messages.Add(encodedMsg);
        }

        InvokeAsync(() =>
        {
            StateHasChanged();
        });

    }

    //Task Send() =>
    //hubConnection.SendAsync("SendMessage", currentUserName, messageInput, DateTime.Now.ToShortTimeString());

    public void Dispose()
    {
        UserService.Notify -= OnNotify;
    }
}