@page "/gamehub"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorServerApp_Chess.Data
@using BlazorServerApp_Chess.Models
@using BlazorServerApp_Chess.Services

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject IConnectionManager connectionManager
@inject IGameService gameService

@implements IDisposable

<style>

    .board {
        background-color: white;
        display: flex;
        flex-direction: row;
        max-width: 50%;
        min-height: 50%;
    }

    .column {
        min-width: 60px;
        min-height: 60px;
    }

    .gamepiece {
        border: solid 1px black;
        min-height: 60px;
        min-width: 60px;
    }

    .x {
        background-image: url(../css/images/letter-x.png);
        background-repeat: no-repeat;
    }

    .o {
        background-image: url(../css/images/letter-o.png);
        background-repeat: no-repeat;
    }

    .blank {
        background-image: none;
    }
</style>

<h3>Board</h3>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h5>@userName</h5>
        </div>
        <div class="col-4">
            <button class="btn btn-success">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p>@userScore</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 board">
            @for (int i = 0; i < 3; i++)
            {
                <div class="column">
                    @for (int j = 0; j < 3; j++)
                    {
                        int x = i;
                        int y = j;
                        <div class="gamepiece
                                    @gameService.gameBoard.Board[i, j].Style.ToString().ToLower()" 
                                    @onclick="((e) => PlayerClickedEmptySpace(x, y))">
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h5>@opponentName</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p>@opponentScore</p>
        </div>
    </div>
</div>

@code {

    private bool isSearchingOpponent = true;

    private string userName = "";
    private int userScore = 0;

    private string opponentName;
    private string opponentId;
    private bool opponentReadyState;
    private int opponentScore = 0;

    private string[,] boardState3D;

    public List<PlayerModel> players;

    private HubConnection hubConnection;

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<string, string, bool>("ReceivePlayerInformation", (id, username, isready) =>
        {
            Console.WriteLine("Receiving opponentInfo");
            opponentId = id;
            opponentName = username;
            opponentReadyState = isready;
            StateHasChanged();
        });

        hubConnection.On<int, int>("ReceivePlayerClickedEmptySpace", (row, col) =>
        {
            gameService.gameBoard.PieceClicked(row, col);
            StateHasChanged();
        });

        await hubConnection.StartAsync();

    }


    private async Task PlayerClickedEmptySpace(int row, int col)
    {

        await hubConnection.SendAsync("SendPlayerMove", row, col);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // When connected get a username and send trigger to add player (connection) to an list in a gamehub
            userName = await sessionStorage.GetItemAsync<string>("userName");
            await hubConnection.SendAsync("AddPlayer", userName);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        connectionManager.RemoveConnection(hubConnection.ConnectionId);
        _ = hubConnection.DisposeAsync();
    }
}
