@page "/gamehub"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorServerApp_Chess.Data
@using BlazorServerApp_Chess.Models
@using BlazorServerApp_Chess.Services

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject IConnectionManager connectionManager
@inject IGameService gameService

@implements IDisposable

<style>

    .board {
        background-color: white;
        display: flex;
        flex-direction: row;
        max-width: 50%;
        min-height: 50%;
    }

    .column {
        min-width: 60px;
        min-height: 60px;
    }

    .gamepiece {
        border: solid 1px black;
        min-height: 60px;
        min-width: 60px;
    }

    .x {
        background-image: url(../css/images/letter-x.png);
        background-repeat: no-repeat;
    }

    .o {
        background-image: url(../css/images/letter-o.png);
        background-repeat: no-repeat;
    }

    .blank {
        background-image: none;
    }
</style>

<h3>Board</h3>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h5>@myPlayerModel.Username<span>@myPlayerModel.CurrentSide.ToString()</span></h5>
        </div>
        <div class="col-4">
            <button class="btn btn-success">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p>@userScore</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 board">
            @for (int i = 0; i < 3; i++)
            {
                <div class="column">
                    @for (int j = 0; j < 3; j++)
                    {
                        int x = i;
                        int y = j;
                        <div class="gamepiece
                                    @gameService.gameBoard.Board[i, j].Style.ToString().ToLower()" 
                                    @onclick="((e) => PlayerClickedEmptySpace(x, y))">
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h5>@opponentPlayerModel.Username<span>@opponentPlayerModel.CurrentSide.ToString()</span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p>@opponentScore</p>
        </div>
    </div>
</div>

@code {

    private int userScore = 0;

    private string opponentName;
    private string opponentId;
    private bool opponentReadyState;
    private int opponentScore = 0;

    public PlayerModel myPlayerModel = new PlayerModel();
    public PlayerModel opponentPlayerModel = new PlayerModel();

    private HubConnection hubConnection;

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<string, string, Enums.PieceStyle>("ReceiveMyPlayerInformation", (id, name, pieceStyle) =>
        {
            Console.WriteLine($"Receiving own info : {pieceStyle.ToString()}");
            myPlayerModel.ConnectionId = id;
            myPlayerModel.Username = name;
            myPlayerModel.CurrentSide = pieceStyle;
            StateHasChanged();
        });

        hubConnection.On<string, string>("ReceiveOtherPlayerInformation", (id, name) =>
        {
            Console.WriteLine("Receiving opponentInfo");
            opponentPlayerModel.ConnectionId = id;
            opponentPlayerModel.Username = name;
            opponentPlayerModel.CurrentSide = myPlayerModel.CurrentSide == Enums.PieceStyle.X ? Enums.PieceStyle.O : Enums.PieceStyle.X;

            // Reset board 
            gameService.gameBoard.ResetBoard();
            StateHasChanged();
        });

        hubConnection.On<int, int>("ReceivePlayerClickedEmptySpace", (row, col) =>
        {
            gameService.gameBoard.PieceClicked(row, col);
            StateHasChanged();
        });

        await hubConnection.StartAsync();

    }


    private async Task PlayerClickedEmptySpace(int row, int col)
    {
        // Logic here?
        if(gameService.gameBoard.CurrentTurn == myPlayerModel.CurrentSide)
        {
            await hubConnection.SendAsync("SendPlayerMove", row, col, hubConnection.ConnectionId);
        }
        else
        {
            Console.WriteLine("Not your turn!");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // When connected get a username and send trigger to add player (connection) to list in a gamehub
            var userName = await sessionStorage.GetItemAsync<string>("userName");
            await hubConnection.SendAsync("AddPlayer", userName);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        connectionManager.RemoveConnection(hubConnection.ConnectionId);
        _ = hubConnection.DisposeAsync();
    }
}
