@layout CenteredCardLayout
@page "/register"

@using Models;
@using DataAccessLibrary;
@using DataAccessLibrary.Models;

@inject NavigationManager NavigationManager
@inject IUserData _Usersdb

<EditForm Model="@_userRegistrationModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="col-12 row">
        <h3 style="font-weight:bold; color:brown">Blazor Chess Register</h3>
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <InputText class="form-control" @bind-Value="_userRegistrationModel.Username" placeholder="username" />
        <ValidationMessage For="@(() => _userRegistrationModel.Username)" />
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <InputText type="password" class="form-control" @bind-Value="_userRegistrationModel.Password" placeholder="Password" />
        <ValidationMessage For="@(() => _userRegistrationModel.Password)" />
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <InputText type="password" class="form-control" @bind-Value="_userRegistrationModel.ConfirmPassword" placeholder="Confirm password" />
        <ValidationMessage For="@(() => _userRegistrationModel.ConfirmPassword)" />
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <span class="col-12"></span>
        <button type="submit" class="form-control col-6 btn btn-primary" value="Register">Register</button>
        <a class="btn btn-link" href="/">Login</a>
    </div>

</EditForm>


@code {

    private List<UserModel> users;
    private UserModel _userModel;
    private UserRegistrationModel _userRegistrationModel;

    protected override async Task OnInitializedAsync()
    {
        _userModel = new UserModel();
        _userRegistrationModel = new UserRegistrationModel();

        users = await _Usersdb.GetUsers();

    }

    private async void HandleValidSubmit()
    {
        if (!CheckIfUsernameExistsAlreadyInDb())
        {
            _userModel.UserName = _userRegistrationModel.Username;
            _userModel.Id = users.Count + 1;
            _userModel.Password = _userRegistrationModel.Password;
            _userModel.RegDate = DateTime.Now;

            await _Usersdb.InsertUser(_userModel);

            NavigationManager.NavigateTo("/successfullRegister");
        }
        else
        {
            NavigationManager.NavigateTo("/unSuccessfullRegister");
        }

    }

    private bool CheckIfUsernameExistsAlreadyInDb()
    {
        bool result = false;
        foreach (var user in users)
        {
            if (user.UserName == _userRegistrationModel.Username)
            {
                result = true;
                break;
            }
        }

        return result;
    }
}
