@page "/gamehub"

@using Microsoft.AspNetCore.SignalR.Client

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

<style>

    .scoreboard {
        padding: .4vw;
        margin: .4vw;
    }

    .ads {
        text-align: center;
        margin: .4vw 0;
        background: #F4CC70;
        padding: .4vw;
    }

    .content {
        margin: .4vw 0;
        padding: .4vw;
    }

    .tic-panel {
        border: solid 2px black;
        margin: .4vw 0;
        background: #66A5AD;
        padding: .4vw;
    }

    .tic-box {
        border: solid black 1px;
        font-size: 5vw;
        background: #6AB187;
        text-align: center;
        color: lavender;
        width: 2%;
        height: 2%;
    }

        .tic-box:hover {
            background: #20948B;
        }

    .tic-container {
        border: solid red 3px;
        margin: -2px;
    }

    .player-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<h3>Board</h3>

<center>
        <div class="card-body">
            <div class="card-header">
                Board
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="container-fluid tic-panel">
                        <h3>Select side:</h3>
                        <button class="btn btn-primary" @onclick="@(e => selectedSide = "X")">X</button>
                        <button class="btn btn-primary" @onclick="@(e => selectedSide = "O")">O</button>
                    </div>

                    <div class="container-fluid tic-container">
                        <div class="row tic-row">
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 0, 0))">
                                <p>&nbsp;@boardState3D[0, 0]</p>
                            </div>
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 0, 1))">
                                <p>&nbsp;@boardState3D[0, 1]</p>
                            </div>
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 0, 2))">
                                <p>&nbsp;@boardState3D[0, 2]</p>
                            </div>
                        </div>
                        <div class="row tic-row">
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 1, 0))">
                                <p>&nbsp;@boardState3D[1, 0]</p>
                            </div>
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 1, 1))">
                                <p>&nbsp;@boardState3D[1, 1]</p>
                            </div>
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 1, 2))">
                                <p>&nbsp;@boardState3D[1, 2]</p>
                            </div>
                        </div>
                        <div class="row tic-row">
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 2, 0))">
                                <p>&nbsp;@boardState3D[2, 0]</p>
                            </div>
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 2, 1))">
                                <p>&nbsp;@boardState3D[2, 1]</p>
                            </div>
                            <div class="col-4 tic-box button" @onclick="((e) => OnBoxClick(e, 2, 2))">
                                <p>&nbsp;@boardState3D[2, 2]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="container-fluid scoreboard">
                        <div class="row">
                            <div class="col-3">
                                <h5>0</h5>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-3">
                                <h5>0</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 player-details">@currentUserName</div>
                            <div class="col-6">
                                @if (isSearchingOpponent)
                                {
                                    <div class="spinner-border text-primary" role="status">

                                    </div>
                                    <button class="btn btn-danger" @onclick="((e) => isSearchingOpponent = false)"><span class="oi oi-x"></span></button>


                                }
                                else
                                {
                                    <button class="btn btn-success" @onclick="OnStartFindingGame" disabled="@isSearchingOpponent"><span class="oi oi-magnifying-glass"></span></button>
                                }
                            </div>
                            <div class="col-3 player-details">@opponentUserName</div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-warning" @onclick="ResetBoard">Reset</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </center>

@code {


    private bool isSearchingOpponent = false;
    private string selectedSide;
    private string currentUserName = "";
    private string opponentUserName = "testiOpponent";

    private string[,] boardState3D;

    private HubConnection hubConnection;

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        ResetBoard();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<string[,]>("ReceiveUsersCount", (arr) =>
        {
            boardState3D = arr;
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        if(IsConnected)
        {
            Console.WriteLine("Game OnInitialized");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUserName = await sessionStorage.GetItemAsync<string>("userName");
            StateHasChanged();
        }
    }

    private void OnBoxClick(EventArgs e, int row, int col)
    {
        if (boardState3D[row, col] != " " || selectedSide == null)
        {
            return;
        }
        else
        {
            boardState3D[row, col] = selectedSide;
        }
    }

    private void OnStartFindingGame()
    {
        isSearchingOpponent = true;
    }

    private void ResetBoard()
    {
        boardState3D = new string[3, 3] { {" ", " ", " " },
                          {" ", " ", " " },
                          {" ", " ", " " } };

        StateHasChanged();

    }
}
